*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 900px;
  font-family: Arial;
}

.calculator {
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  background-color: red;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display {
  width: 400px;
  height: 100px;
  background-color: blue;
}
