*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

.box {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #ffffff;
}

.teams   {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #362233;
}
.channels  {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: #52364E;
}
.header   {
  grid-column: 3 / 4;
  grid-row: 1;
  color: #333;
  background-color: white;
}
.messages {
  grid-column: 3;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll;
  background-color: #ffffff;
}

.message-list {
  margin: 0;
  padding: 0;
}

.message-list li {
  padding: .2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2f2f2;
}

.input {
  grid-column: 3 / 4;
  grid-row: 3;
  background-color: #f2f2f2;
}

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px 15px;
}

@media screen and (max-width: 800px) {
  .app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
  }
}
