.menu-container {
  color: white;
  background: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.signup {
  margin-left: auto;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  /*flex-flow: wrap;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.photo-grid-item {
  border: 1px solid #fff;  /* For debugging */
  width: 300px;
  height: 300px;
}

.last-item {
  order: -1
}

.subscribe, .social {
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one {
  flex: initial;
  background-color: #5995DA;
  width: 300px;
}

.footer-two {
  flex: 2;
}

.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px
}
